/* Import the Orbitron font for the title */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
}

/* Styling for the social links */
.social-links {
  display: flex;
  font-size: 50px !important;
  justify-content: center;
  gap: 25px;
  position: absolute;
  bottom: 0%;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 10px;
}

/* Initial styles for social links with green-yellow background */
.social-links a {
  position: relative;
  text-decoration: none;
  font-size: 30px !important;
  font-family: 'Source Code Pro', monospace;
  box-shadow: inset 0 0 0 0 black;
  color: black;
  margin: 0 -.25rem;
  font-size: 20px;
  padding: 0 .25rem;
  line-height: 1.5;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Styling for the green-yellow background on the first part */
.social-links a span:first-child {
  background-color: #74e3a4; /* Green background color */
}

/* Styling for the yellow-green background on the second part */
.social-links a span:last-child {
  background-color: #d6a12e; /* Yellow background color */
}

/* Add a hover effect for social links */
.social-links a:hover span:first-child {
  background-color: #d6a12e; /* Change the green to yellow on hover */
}

.social-links a:hover span:last-child {
  background-color: #74e3a4; /* Change the yellow to green on hover */
}

.social-links {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#title-name {
  text-align: center;
  color: #c9c3d4;
  font-size: 80px;
  font-family: 'Source Code Pro', monospace;
  transition: transform 2s ease-in-out;
}

#subtitle {
  text-align: center;
  color: #c9c3d4;
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  transition: transform 2s ease-in-out;
}

#info-1 {
  text-align: center;
  color: #c9c3d4;
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  transition: transform 2s ease-in-out;
}

/* New styles for the animation */
.move-up {
  transform: translateY(-50px);
}

#min-div {
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}

.yellow-background {
  background-color: yellow;
  padding: 0 5px; 
}

/* App.css */
.background-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, #5d17cf 50%, #18171a 50%);
  overflow: hidden;
  position: relative;
}



.button-container {
  text-align: center;
  margin-top: 20px; 
  position: relative; 
}

.contact-button {
  background-color: #c9c3d4;
  color: black;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contact-button:hover {
  background-color: #ffae00; 
}

.projects-button {
  background-color: #c9c3d4;
  color: black;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  right: 50%;
  transform: translateX(50%); 
}

.projects-button:hover {
  background-color: #ffae00; 
}

@media screen and (max-width: 600px) {
  #title-name {
    font-size: 8vw;
  }

  #subtitle,
  #info-1 {
    font-size: 4vw;
  }

  .button-container {
    display: flex;
    margin-top: 20px;
  }

  .contact-button, .projects-button {
    margin: 0 10px;
  }

  .social-links {
    font-size: 4vw;
  }
}

meta[name="viewport"] {
  content: width=device-width, initial-scale=1;
}
