/* Import the Orbitron font for the title */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
}


/* Styling for the social links */
.social-links {
  display: flex;
  font-size: 50px !important;
  justify-content: center;
  gap: 25px;
  position: absolute;
  bottom: 0%;
  top: 170%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 10px;
}

/* Initial styling for social links */
.social-links a {
  text-decoration: none;
  font-size: 30px !important;
  font-family: 'Source Code Pro', monospace;
  box-shadow: inset 0 0 0 0 black;
  color: #4c3a6b;
  margin: 0 -.25rem;
  font-size: 20px;
  padding: 0 .25rem;
  line-height: 1.5;
}







#title-name {
  text-align: center;
  color: #4c3a6b;
  font-size: 80px;
  font-family: 'Source Code Pro', monospace;
  transition: transform 2s ease-in-out;
}

#subtitle {
  text-align: center;
  color: #4c3a6b;
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 100; /* Apply thin style */
  font-family: 'Source Code Pro', monospace;
  transition: transform 2s ease-in-out;
  top: 700%; /* Adjust the top property to move the subtitle closer to the title */
}



/* Nw styles for the animation */
.move-up {
  transform: translateY(-50px);
}


#min-div {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}
/* ... (other styles) */


.yellow-background {
  background-color: yellow;
  padding: 0 5px; /* Adjust the padding to control the size of the yellow background */
}







/* App.css */
.background-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, #74e3a4 50%, #e2748b 50%);
  overflow: hidden;
  position: relative;
}

/* Add these styles to your CSS file (App.css) */
/* Add these styles to your existing CSS file */

.button-container {
  text-align: center;
  margin-top: 20px; /* Increase the margin to create more space */
  position: relative; /* Add relative positioning to the container */
}








    

  .contact-button {
    background-color: #4c3a6b;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: absolute; /* Add absolute positioning to the button */
    left: 50%; /* Position the button horizontally in the center */
    transform: translateX(-50%); /* Center the button horizontally */
  }
  
  