/* styles.css */

/* Header styles */
/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(77, 63, 112, 0.5); /* Adjust the RGBA values and alpha (0.5 for semi-transparent) */
  padding: 10px 20px;
  color: rgba(77, 63, 112, 1);
  font-weight: bold;
}

  
  /* Logo styles */
  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
  /* Title styles */
  .title h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Navigation styles */
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color:  rgba(77, 63, 112, 1);
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #e6a240;/* Change the color on hover */
  }
  