/* styles.css */

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d3f70;
    padding: 10px 20px;
    color: #e6a240;
    font-weight: bold;
  }
  
  /* Logo styles */
  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
  /* Title styles */
  .title h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Navigation styles */
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #e6a240;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #e6a240;/* Change the color on hover */
  }
  